<h1>Nova Os Deb Tecnico</h1>

<%= render 'form' %>


<% if (!params[:os_id].blank?) %>
  <%= link_to 'Voltar', controller:"ordem_servicos", action:"show", id: params[:os_id]  %>
<% else %>
  <a href="javascript:history.back()">Voltar</a>
<% end %>
