<p id="notice"><%= notice %></p>

<p>
  <strong>Debito tecnico:</strong>
  <%= @debito_tecnico.nome %>
</p>

<%= link_to '', edit_debito_tecnico_path(@debito_tecnico) %> |
<%= link_to 'Voltar', debito_tecnicos_path %>
