<%= simple_form_for(@os_tipo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nome,:collection => OsTipo.tipos,:label => "Tipos" ,:include_blank => false %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
