<%= simple_form_for(@os_tipo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :os_tipo %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
