// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// make all images responsive by default
.logo-tce {
  @extend .img-responsive;
  margin: 0 auto;
  width: 50%;
  }

  h1, .h1 {
      font-size: 36px;
      font-weight: bold;
  }
  h3 {
      font-weight: bold;
  }

table > thead > tr  {
  background-color: #6383b6;
  color: white;
}
table.table-bordered{
    border:1px solid #c0c0c0;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:1px solid #c0c0c0;
}
table.table-bordered > tbody > tr > td{
    border:1px solid #c0c0c0;
}

// override for the 'Home' navigation link
.navbar-brand  {
  font-size: inherit;
  }
.navbar  {
  background-color: #344968;
}
.navbar-link, .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-brand {
  color: #fff !important;
  font-weight: bold;
}

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

.imprimir > thead > tr > th, .imprimir > thead > tr > td, .imprimir > tbody > tr > th, .imprimir> tbody > tr > td, .imprimir > tfoot > tr > th, .imprimir > tfoot > tr > td{
   border: 1px solid black !important;
   background-color: #fff !important;
}

html body main div.imprimir-main {
   background-color: #fff !important;
  }

.table-hover > tbody > tr:hover {
  background-color: #bbd3ea;
}

.fit {
    white-space: nowrap;
    width: 1%;
}
